<p>Bonjour,</p>
<p>Je vous souhaite la bienvenue sur MonFouineur et je suis ravi de vous compter parmi nous!</p>
<p>En attendant la sortie du produit final, vous pouvez dès maintenant utiliser notre service.</p>
<p>Pour cela, 3 étapes:</p>
<p>1- Prenez en photo la scène dans laquelle se trouve un produit qui vous plaît</p>
<p>2- Précisez l'article qui vous plaît et le nom de la série</p>
<p>3- Envoyez nous votre demande à cherche@monfouineur.fr</p>

<p>Hate de recevoir vos demandes,</p>

<p>A très vite</p>

<p>Matthias</p>
