<p>Bonjour,</p>
<p>Je vous souhaite la bienvenue sur notre service.</p>
<p>Nous constituons actuellement un catalogue de bons produits bio confectionnés en Haute-Savoie.</p>
<p>Des que ce dernier sera prêt, nous vous l'enverrons et vous pourrez passez commande.</p>

<p>A très vite</p>

<p>The Fanfoué Team</p>
