<title>MonFouineur</title>
<meta name="description" content="Trouvez, achetez les articles vus dans les séries TV">

<!-- Facebook Open Graph data -->
<meta property="og:title" content="MonFouineur" />
<meta property="og:type" content="website" />
<meta property="og:url" content="www.monfouineur.fr" />
<meta property="og:image" content="<%= meta_image %>" />
<meta property="og:description" content="Trouvez, achetez les articles vus dans les séries TV" />
<!-- <meta property="og:site_name" content="<%= meta_title %>" /> -->
