<!-- <title>MonFouineur, trouvez et achetez les articles vus dans les séries TV</title>
<meta name="description" content="Mon fouineur est un assistant personnel qui vous aide à trouver facilement les articles qui vous plaisent dans les séries TV."> -->

<!-- Facebook Open Graph data -->
<!-- <meta property="og:title" content="MonFouineur" />
<meta property="og:type" content="website" />
<meta property="og:url" content="www.monfouineur.fr" />
<meta property="og:image" content="<%= image_tag 'meta_fbk.png'%>" />
<meta property="og:description" content="Monfouineur | Trouvez, achetez les articles vus dans les séries TV" />
<meta property="og:site_name" content="<%= meta_title %>"/> -->
<!-- Facebook Open Graph data
