<div class="banner">
  <div class="banner-content">
      <h1>Les bons produits à Fanfoué</h1>
      <p>Saucissons et tommes bio de Haute-Savoie livrés chez vous</p>
      <!-- <a href= "/prospects/new.html", class='cta'>Commander</a> -->
      <%= link_to "Commander", new_prospect_path, class: "cta" %>
  </div>
</div>

<script>
    mixpanel.identify();
  $(".cta").click(function(){
    mixpanel.track("CTA Clicked");
  })
</script>
