<div class="thanks-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-xs">
        <%= image_tag "thanks.png" %>
      </div>
      <div class="col-md-6 col-xs-12">
        <h1>Merci pour votre insciption!</h1>
        <strong><p>En attendant la sortie du produit final, vous pouvez dès maintenant utiliser notre service.</p></strong>
        <p>Pour cela, 3 étapes:</p>
        <p>1- Prenez en photo la scène dans laquelle se trouve un produit qui vous plaît</p>
        <p>2- Précisez l'article qui vous plait et le nom de la série</p>
        <p>3- Envoyez nous votre demande à cherche@monfouineur.fr</p>
        <p>A très vite !</p>
        <p>Ps: vous pouvez partager notre site à vos amis:<%= social_share_button_tag("Super site pour trouver les articles qui te plaisent dans une série TV", :url => "http://www.monfouineur.fr") %></p>
      </div>
    </div>
  </div>
</div>
