<div class="prospect-banner">
  <div class="prospect-banner-content">
    <p>Soyez vite recontacté</p>
    <%= simple_form_for (@prospect) do |f| %>
      <%= f.input :email,label: false, placeholder: "Email" %>
      <%= f.button :submit,"Merci", class: 'form-button'%>
    <%end%>
  </div>
</div>
