<div class="thanks-banner">
  <h3>Merci <%= @prospect.email %>, nous vous recontactons rapidement</h3>
</div>

<% content_for(:after_js) do %>
  <script>
    fbq('track', 'CompleteRegistration');
  </script>
<% end %>
