<div class="thanks-banner">
  <h3>Merci <%= @prospect.email %>, nous vous recontactons rapidement</h3>
</div>

<!-- <script>
  fbq('track', 'CompleteRegistration', {
  value: 25.00,
  currency: 'USD'
  });
</script> -->
