.cta{
  color: #425FB4;
  background-color: white;
  padding: 10px 35px;
  border-radius: 5px;
  font-weight: bold;
}

.cta:hover{
  opacity: 1;
  background-color: rgba(234, 8, 8, 0.95);
  text-decoration: none;
  color: white;
}

.form-button {
  width: 100px;
	background: white;
	font-weight: bold;
	color: #425FB4;
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
  font-weight: normal;
}

.form-button:hover{
  color: white;
  background: #27AE60 !important;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60 !important;
}
